<div *ngIf="item" class="item-card draggable" [ngClass]="{'deleted': item.deleted}" [myDraggable]="{data: item}" (dblclick)="edit()" [@fadeInOut]>
<h2>{{defSelect.id}}</h2>
  <div *ngFor="let field of defSelect.fields">
    <div *ngIf="field.isCardable">
      <div class="small opacity-50"><strong>{{field.name}}</strong></div>
      <div class="small mb-1">{{item.values[field.id] || '--'}}</div>
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-center">
    <div class="small opacity-50">{{item.id}}</div>
    <div>
      <a *ngIf="editable && !item.deleted" (click)="delete()"><span class="oi oi-trash small" title="Delete" aria-hidden="true"></span></a>
      <a *ngIf="editable && item.deleted" (click)="undelete()"><span class="oi oi-reload small" title="Undo Delete" aria-hidden="true"></span></a>
      <a *ngIf="editable && !item.deleted" (click)="edit()" class="ml-2"><span class="oi oi-pencil small" title="Edit" aria-hidden="true"></span></a>
    </div>
  </div>
</div>
