<nav class="nav nav-pills nav-top">
    <a routerLink="/home" [ngClass]="{'active': location.path() == '/home'}" class="nav-item nav-link active">Home</a>
    <a *ngFor="let def of typeDefs" class="nav-item nav-link" [ngClass]="{'active': location.path() != '/home' && defSelect && defSelect.id==def.id}" (click)="selectDef(def)">{{def.name}} ({{def.id}}) {{defSelect==def?"*":""}}</a>
    <a class="nav-item nav-link" (click)="addDef()">Add type</a>
</nav>
<div *ngIf="defSelect">
  <h2>
    {{defSelect.name}}
  </h2>
  <button *ngIf="!editMode" class="btn btn-sm btn-primary" (click)="editMode=!editMode">Change name</button>
  <input *ngIf="editMode" type="input" value="{{defSelect.name}}" (change)="updateName($event.target.value)"><button *ngIf="editMode"  class="btn btn-sm btn-primary" (click)="editMode = !editMode">Update</button>
  <button class="btn btn-sm btn-success" (click)="addItem()">Add item</button>
</div>
<nav *ngIf="defSelect">
  <span *ngFor="let field of defSelect.fields">
    <span *ngIf="field.isListable">{{field.name}}</span>
  </span>
</nav>
<router-outlet></router-outlet>
