<select [(ngModel)]="defSelect"  (change)="updateDefSelect()">
  <option *ngFor="let def of typeDefs" [ngValue]="def">{{def.name}}</option>
</select>
<nav *ngIf="defSelect">
  <a routerLink="/{{defSelect.id}}/dashboard" routerLinkActive="active">Dashboard</a>
  <a routerLink="/{{defSelect.id}}/kanban" routerLinkActive="active">Kanban</a>
  <a routerLink="/{{defSelect.id}}/def" routerLinkActive="active">Def</a>
  <span *ngFor="let field of defSelect.fields">
    <span *ngIf="field.isListable">{{field.name}}</span>
  </span>
</nav>
<router-outlet></router-outlet>
