<style>
.draggable {
  border: 1px solid #ccc;
  cursor: move;
  padding: 5px;
}

</style>

<div *ngIf="item" class="item-card draggable" [myDraggable]="{data: item.id}">
  <div><strong>{{item.name}}</strong> ({{item.id}})</div>
  <div><i>{{item.status}}</i>, <i>{{item.colour}}</i></div>
  <div *ngIf="expand" class="taglinks">
    <label>Tags:</label>
    <ul>
      <li *ngFor="let tag of item.tags">{{tag}}</li>
      <li *ngIf="!item.tags">No tags</li>
    </ul>
  </div>
  <div *ngIf="expand" class="taglinks">
    <label>Links:</label>
    <ul class="taglinks">
      <li *ngFor="let link of item.links">{{link}}</li>
      <li *ngIf="!item.links">No items</li>
    </ul>
  </div>
  <a *ngIf="editable" [routerLink]="['/', itemService.getDefSelect(), 'detail', item.id]">Edit</a>
</div>
