.draggable {
  cursor: move;
}
.item-card {
  border: 2px solid #ddd;
  background-color: #fff;
  display: inline-block;
  width: 200px;
  margin:5px;
  padding:5px 10px;
}
.taglinks ul {
  display:inline-block;
  padding:0px;
}
.taglinks li {
  display:inline-block;
  padding:2px;
  font-size: smaller;
  border: 1px solid #ddd;
  background-color: #fff;
}
