<div class="row">
  <div class="col-md-6">
    <textarea style="width:100%" class="mt-2 mb-2" name="name" rows="5" [(ngModel)]="itemText"></textarea>
    <div class="d-flex justify-content-between">
      <div>
        <input type="checkbox" [(ngModel)]="updateFieldsMode" id="updateFieldsMode">
        <label for="updateFieldsMode" class="ml-2">Update fields with 1st row</label>
      </div>
      <button class="btn btn-sm btn-success" (click)="addItems()">Add items</button>
    </div>
    <hr>
  </div>
</div>
