/* You can add global styles to this file, and also import other style files */
a {
  cursor: pointer;
}

nav.nav-top {
  margin-top: 1em;
}

.opacity-50 {
  opacity:0.5;
}

.cat-container {
  display:flex;
}
.cat-area {
  background-color: #ececec;
  display: inline-block;
  border: 3px solid #aaa;
  padding: 5px;
  border-radius: 6px;
  margin-right: 5px;
}
.cat-area:hover {
  background-color:#fff;
  border-style: solid;
}

/* Bootstrap overrides */
nav a {
    margin-right: 1px;
}
.nav-pills .nav-link {
    border-radius: 0!important;
}
.nav-link {
  background-color: #eee;
}
