<div *ngIf="typeDef">
<div class="row mb-1" *ngFor="let field of typeDef.fields">
  <div class="col-sm-1">
    {{field.id}}
  </div>
  <div class="col-sm-2">
    Kanban: <input type="checkbox" [checked]="field.isListable" (change)="toggleCatField(field)">
  </div>
  <div class="col-sm-2">
    Card: <input type="checkbox" [checked]="field.isCardable" (change)="toggleCardField(field)">
  </div>
  <div class="col-sm-3">
    <input type="input" [(value)]="field.name" (change)="updateLabel(field,$event.target.value)">
  </div>
  <div class="col-sm-1">
    <button class="btn btn-sm btn-outline-danger" (click)="removeField(field)"><icon name="x" title="Delete field"></icon></button>
  </div>
</div>
</div>
<input type="input" [(ngModel)]="newFieldName" value class="mr-1">
<button (click)="addField()" class="btn btn-sm btn-success mr-3">Add field</button>
<button class="btn btn-sm btn-outline-secondary mr-2" (click)="goBack()"><icon name="arrow-left" title="Back"></icon> Go back</button>
<button class="btn btn-sm btn-link mr-2" (click)="removeDefSelect()">Delete {{typeDef.name}}</button>
